body {
    background-color: beige;
}

#Index_Head {
    font-family: 'Montserrat', sans-serif;
}

#School_Head {
    text-align: center;
}

nav {
    background-color: lightblue;
    text-align: center;
}